@font-face {
    font-family: sans-font;
    src: url('../assets/font/IRANSans(FaNum)_Medium.ttf');
}

body{
    margin: 0;
    background-image: linear-gradient(to bottom left, var(--gradient-color-stops));
    --gradient-from-color: #34393f;
    --gradient-to-color: #191a1d;
    --gradient-color-stops: var(--gradient-from-color), var(--gradient-to-color, rgba(52, 57, 63, 0));
    background-attachment: fixed;
    height: 100vh;
}

.card-body {
    background-color: #000;
    margin-bottom: 2rem;
    min-height: 175px;
    overflow-wrap: break-word;
}

.card-body h4 {
    color: #f56161;
}

.card {
    background-color: #000;
    min-height: 510px;
}

img {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1); 
}
  
img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}