body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: #fff;
}

.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}

.header-menu span{
    margin: 20px 30px;
    cursor: pointer;
}

.header-menu-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url("img/milky_way_panorama.jpeg");
    font-size: 100px;
}

.section-two{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 80px 30px;
}

.section-two .item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    width: 25%;
    height: 600px;
    margin: 10px;
    padding: 20px;
    box-shadow: 1px 1px 9px 0px #fff;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 600px;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
}

.description h3{
    padding: 50px 0;
}

.item-pic img{
    width: 200px;
}

.item .item-desc{
    text-align: justify;
    font-size: 1rem;
    line-height: 1.3;
}

.section-three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* height: 400px; */
    padding: 50px 0;
}

.section-three-title{
    text-align: center;
    width: 95%;
    /* border-bottom: solid 1px; */
}


.section-three-members{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.member img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.member img:hover{
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.section-for{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* height: 550px; */
}

.section-for .items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    /* height: 400px; */
}

.section-for .title{
    text-align: center;
}

.items .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    margin: 30px;
    height: 350px;
    background-color: #000;
    box-shadow: 1px 1px 9px 0px #fff;
    padding: 25px;
    
}

.item .item-top{
    width: 100%;
    text-align: center;
    background-image: url("img/stars.jpeg");
    background-size: contain;
    padding: 10px;

}

.section-six{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 100px 0px;
    margin-bottom: 100px;
    /* height: 450px; */
    background-image: url("img/milky_way_bazoo_2.jpeg");
    background-size: cover;
}

.section-six h2{
    padding-left: 80px;
}

.follow-us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
}

.follow-us img{
    width: 48px;
    padding: 10px;
}

.section-five{
    width: 100%;
    height: 500px;
    background-image: url("img/milky_way_2.jpeg");
    background-size: cover;
    margin-bottom: 80px;
}

.contact-us{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
}

.contact-us .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:40%;
    height: 250px;
    box-shadow: 1px 1px 9px 0px #fff;
}

.contact-us .right input{
    width: 80%;
    height: 45px;
    border: 0;
    border-radius: 2px;
}

.contact-us .right textarea{
    width: 80%;
    border: 0;
    border-radius: 2px;
}

.contact-us .right button{
    width: 30%;
    height: 45px;
    border: 0;
    border-radius: 2px;
}

.contact-us .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 40%;
    height: 200px;
}

@keyframes rotateIn {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .section-one{
        font-size: 36px;
        height: 400px;
    }
    
    .header-menu{
        font-size: 12px;
        
    }
    .header-menu span{
        margin: 10px;
    }

    .section-two .item{
        width: 48%;
        margin: 0;
    }

    .description{
        width: 43%;
        margin: 0;
    }
    
    .items .item{
        width: 100%;
    }

    .item-i{
        padding: 5px;
    }

    .section-six h2 {
        padding-left: 40px;
        font-size: 18px;
    }

    .member{
        width: 33%;
        margin-bottom: 20px;
    }

    .section-five{
        margin-bottom: 0px;
        background-size: contain;
        height: 300px;
        background-repeat: no-repeat;
    }

    .contact-us{
        flex-direction: column;
    }

    .contact-us .right, .contact-us .left{
        width: 80%;
    }

    .follow-us img{
        width: 28px;
    }

    .follow-us{
        margin-top: 50px;
    }
    
}

@media screen and (max-width: 500px) {
    .section-one{
        font-size: 36px;
        height: 400px;
        background-size: cover;
    }
    
    .header-menu{
        font-size: 12px;
        
    }
    .header-menu span{
        margin: 10px;
    }

    .section-two{
        padding: 30px;
    }

    .section-two .item{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .items .item{
        width: 100%;
    }

    .item-i{
        padding: 5px;
    }

    .section-six h2 {
        padding-left: 40px;
        font-size: 18px;
    }

    .member{
        width: 50%;
        margin-bottom: 20px;
    }

    .section-five{
        margin-bottom: 0px;
        background-size: contain;
        height: 155px;
        background-repeat: no-repeat;
    }

    .contact-us{
        flex-direction: column;
    }

    .contact-us .right, .contact-us .left{
        width: 80%;
    }

    .follow-us img{
        width: 28px;
    }

    .follow-us{
        margin-top: 50px;
    }

    .description{
        height: 450px;
        width: 100%;
    }
    
}
