@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
body {
    margin: 0px !important;
    height: 100vh;
}

.general-header{
    border-bottom: 1px solid #eee;
}

.mt-6rem{
    margin-top: 6rem;
}

.profile_body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.profile_container {
    height: 100vh;
}

.profile_content {
    margin-top: 5rem
}

.profile_card {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 370px;
}

.profile_upper {
    height: 100px;
}

.profile_upper img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile_user {
    position: relative;
}

.profile_profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px;
}

.profile_profile {
    position: absolute;
    top: -50px !important;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.profile_follow {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

.profile_stats span {
    font-size: 29px;
}